.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form__label {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 100%;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  transform: translateX(-50%);
  pointer-events: none;

  @media (min-width: $stop-scaling) {
    margin-bottom: 12px;
    font-size: 16px;
  }

  @media (orientation: portrait) {
    opacity: 1;
    pointer-events: auto;
  }
}

.form__field {
  width: 0;
  height: 6rem;
  margin-right: 3rem;
  padding: 0 5.6rem;
  font: inherit;
  font-size: 2.4rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: $c-dark;
  border: 0;
  border-radius: 3rem;
  transition-duration: $duration-m;
  transition-property: width;
  flex: none;
  outline: none;

  &:focus {
    border: 1px solid $c-purple;
  }

  @media (min-width: $stop-scaling) {
    width: calc(100% - 210px);
    height: 60px;
    margin-right: 30px;
    padding: 0 56px;
    font-size: 24px;
    border-radius: 30px;
  }

  @media (orientation: portrait) {
    width: calc(100% - 5rem);
    height: 4rem;
    margin-right: 1rem;
    padding: 0 2.5rem;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    width: calc(100% - 9rem);
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: calc(100% - 5rem);
    height: 4rem;
    margin-right: 1rem;
    padding: 0 2.5rem;
    font-size: 1.6rem;
  }

  .screen--game.active & {
    width: calc(100% - 21rem);
  }
}

.form__button {
  @media (orientation: portrait) {
    position: relative;
    width: 4rem;
    height: 4rem;
    padding: 0;
    font-size: 0;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    position: relative;
    width: 6rem;
    height: 6rem;
    padding: 0;
    font-size: 0;
    flex: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: 4rem;
    height: 4rem;
  }

  svg {
    @include center;
    display: none;
    width: 1.6rem;
    height: 1.8rem;

    @media (min-width: $stop-scaling) {
      width: 16px;
      height: 18px;
    }

    @media (orientation: portrait) {
      display: block;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      display: block;
    }
  }
}

.form--result {
  .form__field {
    width: calc(100% - 31rem);

    @media (min-width: $stop-scaling) {
      width: calc(100% - 310px);
    }

    @media (orientation: portrait) {
      width: calc(100% - 5rem);
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: calc(100% - 9rem);
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: calc(100% - 5rem);
    }
  }
}
