.social-block {
  position: relative;

  &:hover {
    .social-block__link {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }
}

.social-block__toggler {
  @include btn-reset;
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-dark;
  border-radius: 50%;
  transition-duration: $duration-s;
  transition-property: background-color;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }

  &::before {
    @include center;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: $c-light;
    border-radius: 50%;
    transition-duration: $duration-s;
    transition-property: all;
    content: "";
  }

  svg {
    @include center;
    display: block;
    width: 2.3rem;
    height: 2.2rem;
    transition-duration: $duration-s;
    transition-property: all;
  }

  &:hover,
  &.focus,
  .social-block--active & {
    &::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    color: $c-light;
    outline: none;

    &::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
    }

    & + .social-block__list {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &:active,
  &:active:focus {
    color: $c-light;

    &::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.social-block__list {
  @include list-reset;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1.5rem;
  opacity: 0;
  transition-duration: $duration-s;
  transition-property: opacity;
  pointer-events: none;

  @media (min-width: $stop-scaling) {
    margin-top: 15px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    position: absolute;
    right: 0;
    bottom: 100%;
    left: 0;
    height: 1.5rem;
    content: "";

    @media (min-width: $stop-scaling) {
      height: 15px;
    }
  }

  &:hover {
    opacity: 1;
    pointer-events: auto;
  }

  &:focus-within {
    opacity: 1;
    pointer-events: auto;
  }

  .social-block--active & {
    opacity: 1;
    pointer-events: auto;
  }

  li {
    margin-bottom: 0.5rem;
    flex: none;

    @media (min-width: $stop-scaling) {
      margin-bottom: 5px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin: 0 1.25rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin: 0 1.25rem;
    }
  }
}

.social-block__link {
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-light;
  border: 2px solid transparent;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(10px);

  @media (min-width: $stop-scaling) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    color: $c-light;
    background-color: $c-dark;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    color: $c-light;
    background-color: $c-dark;
  }

  &:hover {
    color: $c-purple;
  }

  &:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-purple;
    outline: none;
  }

  &:active,
  &:active:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-light;
  }

  svg {
    @include center;
  }

  &--fb {
    transition: opacity $duration-m linear, transform $duration-m ease-out,
      color $duration-s;

    svg {
      width: 0.8rem;
      height: 1.7rem;

      @media (min-width: $stop-scaling) {
        width: 8px;
        height: 17px;
      }
    }
  }

  &--insta {
    transition: opacity $duration-m linear 300ms,
      transform $duration-m ease-out 300ms, color $duration-s;

    svg {
      width: 1.5rem;
      height: 1.5rem;

      @media (min-width: $stop-scaling) {
        width: 15px;
        height: 15px;
      }
    }
  }

  &--vk {
    transition: opacity $duration-m linear 600ms,
      transform $duration-m ease-out 600ms, color $duration-s;

    svg {
      width: 1.7rem;
      height: 1rem;

      @media (min-width: $stop-scaling) {
        width: 10px;
        height: 10px;
      }
    }
  }
}

.social-block__toggler:focus + .social-block__list .social-block__link {
  opacity: 1;
  transform: translateY(0);
}
