.social-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;

  &:hover {
    .social-block__link {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }
}

.social-block__toggler {
  @include btn-reset;
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-dark;
  border: 2px solid transparent;
  border-radius: 50%;
  transform: scale(0);
  transition-duration: $duration-s, $duration, $duration;
  transition-property: background-color, border-color, transform, color;
  transition-timing-function: linear, cubic-bezier(0.36, 1.19, 1, 0.91),
    cubic-bezier(0.36, 1.19, 1, 0.91);

  will-change: background-color, border-color, color;

  .loaded & {
    transform: scale(1);
  }

  .story & {
    color: $c-purple;
  }

  .story.slide-two & {
    color: $c-blue;
  }

  .story.slide-three & {
    color: $c-l-blue;
  }

  .story.slide-four & {
    color: $c-dark;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }

  &::before {
    @include center;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: $c-light;
    border-radius: 50%;
    transition-duration: $duration-s;
    transition-property: all;
    content: "";
  }

  svg {
    @include center;
    display: block;
    width: 2.3rem;
    height: 2.2rem;
    transition-duration: $duration-s;
    transition-property: all;

    .slide-one & {
      color: $c-purple;
    }
  }

  &:hover,
  &:focus,
  .social-block--active & {
    color: $c-purple;
    border-color: $c-light;

    .story & {
      color: $c-dark;
    }

    .story.slide-two & {
      color: $c-l-blue;
    }

    .story.slide-three & {
      color: $c-blue;
    }

    .story.slide-four & {
      color: $c-purple;
    }
  }

  &:focus {
    background-color: $c-light;
    border-color: $c-purple;

    & + .social-block__list {
      opacity: 1;
      pointer-events: auto;
    }

    .story & {
      border-color: $c-dark;
    }

    .story.slide-two & {
      border-color: $c-l-blue;
    }

    .story.slide-three & {
      border-color: $c-blue;
    }

    .story.slide-four & {
      border-color: $c-purple;
    }
  }

  &:active,
  .story &:active,
  .story.slide-two &:active,
  .story.slide-three &:active,
  .story.slide-four &:active {
    color: $c-light;
    border: none;
    transform: scale(1);
  }

  &:active::before {
    background-color: $c-purple;

    .story & {
      background-color: $c-dark;
    }

    .story.slide-two & {
      background-color: $c-l-blue;
    }

    .story.slide-three & {
      background-color: $c-blue;
    }

    .story.slide-four & {
      background-color: $c-purple;
    }
  }
}

.social-block__list {
  @include list-reset;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1.5rem;
  opacity: 0;
  transition-duration: $duration-s;
  transition-property: opacity;
  pointer-events: none;

  @media (min-width: $stop-scaling) {
    margin-top: 15px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    position: absolute;
    right: 0;
    bottom: 100%;
    left: 0;
    height: 1.5rem;
    content: "";

    @media (min-width: $stop-scaling) {
      height: 15px;
    }
  }

  &:hover,
  &:focus-within,
  .social-block--active & {
    opacity: 1;
    pointer-events: auto;
  }

  li {
    margin-bottom: 0.5rem;
    flex: none;

    @media (min-width: $stop-scaling) {
      margin-bottom: 5px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin: 0 1.25rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin: 0 1.25rem;
    }
  }
}

.social-block__link {
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-light;
  border: 2px solid transparent;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(10px);
  will-change: border-color, color, background-color;

  @media (min-width: $stop-scaling) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    color: $c-light;
    background-color: $c-dark;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    color: $c-light;
    background-color: $c-dark;
  }

  &:hover {
    color: $c-purple;

    .story & {
      color: $c-dark;
    }

    .story.slide-two & {
      color: $c-l-blue;
    }

    .story.slide-three & {
      color: $c-blue;
    }

    .story.slide-four & {
      color: $c-purple;
    }
  }

  &:focus {
    color: $c-purple;
    background-color: $c-light;
    opacity: 1;
    border-color: $c-purple;
    outline: none;

    .story & {
      color: $c-dark;
      border-color: $c-dark;
    }

    .story.slide-two & {
      color: $c-l-blue;
      border-color: $c-l-blue;
    }

    .story.slide-three & {
      color: $c-blue;
      border-color: $c-blue;
    }

    .story.slide-four & {
      color: $c-purple;
      border-color: $c-purple;
    }
  }

  &:active,
  .story &:active,
  .story.slide-two &:active,
  .story.slide-three &:active,
  .story.slide-four &:active {
    background-color: $c-light;
    border: none;
  }

  svg {
    @include center;
  }

  &--fb {
    transition: opacity $duration-m linear, transform $duration-m ease-out,
      color $duration-s;

    svg {
      width: 0.8rem;
      height: 1.7rem;

      @media (min-width: $stop-scaling) {
        width: 8px;
        height: 17px;
      }
    }
  }

  &--insta {
    transition: opacity $duration-m linear 300ms,
      transform $duration-m ease-out 300ms, color $duration-s;

    svg {
      width: 1.5rem;
      height: 1.5rem;

      @media (min-width: $stop-scaling) {
        width: 15px;
        height: 15px;
      }
    }
  }

  &--vk {
    transition: opacity $duration-m linear 600ms,
      transform $duration-m ease-out 600ms, color $duration-s;

    svg {
      width: 1.7rem;
      height: 1rem;

      @media (min-width: $stop-scaling) {
        width: 10px;
        height: 10px;
      }
    }
  }
}

.social-block__toggler:focus + .social-block__list .social-block__link {
  opacity: 1;
  transform: translateY(0);
}
