@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin container {
  width: 100%;
  margin: 0 auto;
  padding: 0 4rem;

  @media (min-width: $stop-scaling) {
    padding: 0 40px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 0 1rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 0 1rem;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn-reset {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;

  &:focus {
    outline: none;
  }
}

@mixin hover {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.7;
    outline: none;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin opacity-transform {
  opacity: 0;
  transition-duration: $duration-m;
  transition-property: transform, opacity;
}
