$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;
$c-blue: #476fd2;
$c-l-blue: #91b3d7;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical", "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;

$duration-s: 0.3s;
$duration: 0.5s;
$duration-m: 0.7s;
$duration-l: 1s;
